<!DOCTYPE html>
{%  extends "BallbearingSite/base.html" %}
{% block body_block %}



   <div class="col-lg-8"style="margin-right:15%;">
     <div class="panel panel-primary">
       <div class="panel-heading">
ارسال پیام
      </div>
    <div class="panel-body" style="text-align:center">
      <p>
        <form enctype="multipart/form-data" method="post" >
          {% csrf_token %}
          {{ contact_form.as_p }}

          <input id="savepersonalinfo" type="submit" name="" value="ثبت">
        </form>
      </p>
    </div>
  </div>
</div>






</div>

{% endblock %}
