<!DOCTYPE html>
{%  extends "BallbearingSite/base.html" %}
{% load static %}

{% block body_block %}

  <div class="col-lg-8"style="margin-right:15%;">
<div class="panel panel-primary">
  <div class="panel-heading">
 ایجاد گذرواژهٔ جدید  </div>
<div class="panel-body">

<p>
رمز خود را فراموش کرده اید؟ آدرس ایمیل خود را در زیر وارد کنید، و ما روش تنظیم رمز جدید را برایتان می فرستیم.

</p>
    <form method="POST">
{% csrf_token %}
<label>پست الکترونیک :</label>
<input type="text" name="email" value="email" >
      <input type="submit" value="ایجاد گذرواژه جدید  !">
    </form>


  </div>
  </div>
  </div>


{% endblock %}
